/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  margin: 75px auto;
   width: 60%;
  /* #ccc is shorthand HEX for a light grey */
  background: #FFFFFF;

}


h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #808080;
}


p{
    color: #808080;

}

img {
   padding:2px;
   border:2px solid #000000;
   background-color:#808080;
}
