/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  margin: 75px auto;
   width: 60%;
  /* #ccc is shorthand HEX for a light grey */
  background: #FFFFFF;

}


h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ccc;
}


p{
    color: #ccc;

}
